<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">LOGO</a></h1>
    <h2>게시판 리스트</h2>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>수정일</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].id %></td>
                <td><a href="/board/detail/<%= data[i].id %>"><%= data[i].subject %></a></td>
                <td><%= data[i].content %></td>
                <td><%= data[i].userName %></td>
                <td><%= data[i].createDate %></td>
                <td><%= data[i].updateDate %></td>
            </tr>
            <% } %>
        </tbody>
        <input type="button" id="write" value="글쓰기"/>
    </table>
    
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script> 
<script>
    $("#write").click(function(){
        location.href = "/board/write";
    })
</script>
</html>